* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: #04b2d9;
    color: white;
    margin: auto;
    padding: 20px 15px;
}

.login-welcome {
    justify-content: center;
    padding-bottom: 70px;
    text-align: center;
}

form {
    text-align: center;
}

.controls {
    text-align: center;
    width: 75%;
    margin-bottom: 15px;
    padding: 11px 10px;

} 

.buttons {
    color: white;
    background-color: #0367a6;
    width: 60%;
    height: 40px;
    border: 1px solid #0367a6;
    margin-top: 38px;
    margin-bottom: 15px;
}

.vinculos-login {
    color: white;

}




