<section class="form-login">
    <div class="login-welcome">
        <h2>Welcome!</h2>
        <p>Don't have an account yet? <a class="vinculo-login" routerLink="/singup">Sing Up</a></p>
    </div>
    <form (ngSubmit)="sendValuesLogin()">
        <label for="email">Email</label><br>
        <input class="controls" type="email" [(ngModel)] = 'email' name="email"><br>

        <label for="Password">Password</label><br>
        <input class="controls" type="password" [(ngModel)] = 'password' name="Password"><br>

        <button class="buttons" type="button" (click)="sendValuesLogin()">Login</button>
        <p><a class="vinculo-login" routerLink="/forgot-password">Forgot Password?</a></p>
    </form>  
</section>
