<section class="form-login">
    <div class="login-welcome">
        <h2>Welcome!</h2>
        <p>Don't have an account yet? <a class="vinculo-login" href="">Sing Up</a></p>
    </div>
    <form action="">
        <label for="UserName">Username</label><br>
        <input class="controls" type="text"><br>

        <label for="Password">Password</label><br>
        <input class="controls" type="password"><br>

        <input class="buttons" type="submit" value = "Login">
        <p><a class="vinculo-login" href="">Forgot Password?</a></p>
    </form>  
</section>
