.container {
  height: 100vh;
  display: grid;
  place-content: center;
}
  
.card {
  padding: 12rem;
  background-color: rgba(4, 178, 217, 0.9);
  max-width: 60rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
}

h2 {
  color: #084e84;
  font-size: 20px;
  margin-bottom: 3.2rem;
  text-align: center;
}

form label {
  font-size: 2.2rem;
  line-height: 1.8rem;
  color: #084e84;
  margin-bottom: 0.8rem;
  display: block;
}

form input {
  width: 100%;
  border: 1px solid rgba(73, 80, 87, 0.3);
  background: #dce2e9;
  padding: 1.6rem;
  border-radius: 0.4rem;
  margin-bottom: 10px;
}

form input:focus {
  outline: 1px solid #3e169d;
}
  
form input::placeholder {
  color: rgba(73, 80, 87, 0.5);
}

.input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
}
  
form button {
  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 100%;
  color: #e4eff7;
  border-radius: 0.4rem;
  border: none;
  font-size: 2rem;
  background-color: #02799d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #64cbeb;
}