.container {
  display: flex;
  height: 100vh;
  font-size: 18px;

  color: black;
  background-color: white;
  box-sizing: border-box;
}

.sidenav {
  width: 344px;
  background: linear-gradient(0deg, #ddf7fd 0%, #ddf7fd 100%), #fffbfe;
  padding: 22px 12px 12px 12px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.sidenav.collapsed {
  width: 80px;
}

.menu-icon {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 70px;
  height: 56px;
  padding: 16px 23px;
  justify-content: center;
}

.sidenav.collapsed {
  width: 80px;
}

.sidenav span {
  color: #000000;
}
.sidenav h2 {
  font-size: 16;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
  align-self: stretch;
}

.profile {
  font-size: 16px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 16px 24px 16px 16px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.divider {
  height: 1px;
  align-self: stretch;
  background-color: #0097b9;
  margin: 12px 0;
}
.sidenav .nav-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidenav .nav-list li {
  margin: 20px 0;
}

.nav-list li {
  text-decoration: none;
  font-size: 18px;

  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 16px 24px 16px 16px;
}
.password {
  background: #0097b9;
  padding: 16px 24px 16px 16px;
}

.sidenav .nav-list li a:hover {
  background-color: #025a93;
}

.sidenav .nav-list li a .icon {
  margin-right: 10px;
}
.nav-list li img {
  width: 24px;
  height: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.header h1 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.pass {
  color: #0097b9;
}
.locker {
  color: #0f2851;
}

.menu-icon {
  cursor: pointer;
}

.input-container {
  display: flex;

  position: relative;
  align-items: center;
}

td.tableTd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 10px;
  color: #979797;
  -webkit-text-stroke-width: 0.30000001192092896;
  -webkit-text-stroke-color: rgba(26, 24, 27, 0.2);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 40px;
  background: rgba(196, 196, 196, 0.2);
  font-weight: 400;
  width: 391px;
  height: 48px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  transform: translate(-50%);
  cursor: pointer;
}

.search-input:focus {
  outline: none;
  border: 1px solid #0097b9;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
.divbuttons {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  width: 100%;
  padding: 8px 16px;
  align-items: center;
}
.divbuttons h3 {
  flex: 1;
  line-height: 1;
  margin: 0;
  color: #1f1f1f;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 18px;
}

.divbuttons button {
  height: 40px;
  padding: 10px 16px;
  align-items: flex-start;
  gap: 4px;
  font-family: "Inter", sans-serif;
  border-radius: 40px;
  background: #0097b9;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: solid 1px transparent;
}
.divbuttons button:hover {
  background-color: #007a99;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table td {
  padding: 10px 0;
  text-align: left;
  vertical-align: middle;
 
}

table tr{

display: flex;

flex-direction: row;  


align-items: center;

height: 100px;
padding: 8px 16px;
margin-top: 32px;
gap: 50px;
border-radius: 30px;
background: #FFF;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.eyeShow {
  width: 24px;
  height: 24px;
}
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

input.input-password {
  padding: 0.5em;
  width: 250px;
  height: 35px;
  border-radius: 40px;
  border: 1px solid #d9d9d9;
  text-align: left;
}
input{
  padding: 0.5em;
  width: 100px;
  height: 35px;
  border-radius: 40px;
  border: 1px solid #d9d9d9;
  text-align: center;
}


input:focus {
  outline: none;
  border: 1px solid #0097b9;
}





.actions{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-left: auto;



 
 }

button.button-acciones {
  display: flex;
  flex-direction: row;

  align-items: center;
  height: 30px;
  padding: 10px 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #0097b9;
  font-weight: 500;

  gap: 4px;
  margin: 0 0.3em;
  border-radius: 40px;
  border: 2px solid #0097b9;
  background: #fff;

}

button.button-acciones:hover {
  background: #0097b9;
  color: #fff;
}


button.eye-button {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  padding: 0;
}
table td label {
  display: block;
  margin-bottom: 5px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  color: #868686;

  font-size: 12px;

  font-weight: 500;
}
