<div class="container">
  <Header class="header">
    <h1>PassLocker</h1>
    <button (click)="logout()">Cerrar sesión</button>
  </Header>

  <main class="main">
    <div class="divbuttons">
      <h2>Hola "Nombre"</h2>
      <aside class="actions">
        <button (click)="addPassword()">Nueva</button>
      </aside>
    </div>
    <section>
      <h3>Contraseñas</h3>

      <table>
        <thead>
          <tr>
            <th>Servicio</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let password of passwords">
            <td>{{ password.userService }}</td>
            <td>{{ password.userName }}</td>
            <td>{{ password.password }}</td>
            <td>
              <button (click)="modifyPassword(password.id)">Editar</button>
              <button (click)="DeletePassword(password.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>

  <footer class="footer">
    <ul class="navTwo">
      <li><a href="#" target="_blank">Términos </a> |</li>
      <li><a href="#" target="_blank">Privacidad </a>|</li>
      <li><a href="#" target="_blank">Acerca de nosotros</a></li>
    </ul>

    <p>© 2024 PassLocker</p>
  </footer>
</div>
