<div class="container">
  <div class="menu-icon" (click)="toggleSidenav()">
    <img src="../../assets/icons/Menu.svg" alt="Menu">
    </div>


  <nav class="sidenav" [class.collapsed]="isCollapsed">
    

   
    <ul class="nav-list">
      <div class="profile">
      
        <h2 *ngIf="!isCollapsed">Hola {{userFullName}}</h2>
     
      </div>
      <hr class="divider">
      <li> <img src="../../assets/icons/icon-profie.svg" alt="Perfil"><a href="#" target="_blank"><span *ngIf="!isCollapsed"> Mi Perfil</span></a></li>
      <li class="password"><img src="../../assets/icons/icon-pass.svg" alt=""><a href="#" target="_blank"><span *ngIf="!isCollapsed"> Contraseñas</span></a></li>
      <li><img src="../../assets/icons/icons-payment.svg" alt=""><a href="#" target="_blank"><span *ngIf="!isCollapsed"> Método de pago</span></a></li>
      <hr class="divider">
      <li><img src="../../assets/icons/icons-settings.svg" alt=""><a href="#" target="_blank"><span *ngIf="!isCollapsed"> Configuración</span></a></li>
      <li><img src="../../assets/icons/icon- logout.svg" alt=""><a href="#" target="_blank" (click)="logout()"><span *ngIf="!isCollapsed"> Cerrar sesión</span></a></li>
    </ul>
  </nav>

  
  <div class="content">
  
    <header class="header">
  
      <h1><span class="pass">Pass</span><span class="locker">Locker</span></h1>
      <div class="input-container">
        <input type="text" placeholder="Buscar..." class="search-input"  [(ngModel)]="searchTerm" (input)="onSearchTermChange()" >
        <img class="search-icon" src="../../assets/icons/Search.svg" alt="Lupa">
      </div>
    </header>

    <main class="main">
      <section>
        <div class="divbuttons">

        <h3>Contraseñas</h3>
            
        <button (click)="addPassword()">Añadir contraseña</button>
        </div>
        <table>
      
          <tbody>
            <tr *ngFor="let password of filteredPasswords; let i = index">

            
              <td class="tableTd">
                <label for="service_{{i}}">Servicio</label> 
                <input id="service_{{i}}" class="input-text" type="text"  [value]="password.userService" readonly>
              </td>

             
              <td class="tableTd">
                <label for=" username_{{i}}">Usuario</label>
                <input id="username_{{i}}" class="input-text" type="text" [value]="password.userName" readonly>
              </td>
              <td class="tableTd">
                <label for="password_{{i}}">Contraseña</label>
                <div class="password-container">
                <input id="password_{{i}}" class="input-password" [type]="password.isPasswordVisible ? 'text' : 'password'" [value]="password.password" readonly>
                <button class="eye-button" type="button" (click)="togglePasswordVisibility(i)">
                  <img class="eyeShow" [src]="password.isPasswordVisible ? '../../assets/icons/icon-eye-off.svg' : '../../assets/icons/ojo.png'" 
                  alt="contraseña visible">
                </button>
              </div>

              </td>
              <td class="actions">
                <button class="button-acciones" (click)="copyPassword(password.password)">Copiar</button>
                <button class="button-acciones" (click)="modifyPassword(password.id)">Editar</button>
                <button class="button-acciones" (click)="openDeleteConfirmationModal(password.id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </div>
</div>
