  .container {
    
    gap: 20px;
    flex: 1;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgba(4, 178, 217, 0.9);
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
   
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    height: 80vh;
  }
  
  .actions {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .divbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead th {
    border-bottom: 1px solid white;
  }

  input.input-password {
    padding: .5em;
    width: 35vw;
    margin: 0 .5em;
}

  tbody td {
    padding: 10px 0;
    text-align: center;
  }

  button.button-acciones {
    margin: 0 0.3em;
}
  
  .footer {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
  }
  
  .footer button {
    margin-right: 10px;
  }
  
  .navTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .navTwo a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  .navTwo li {
    cursor: pointer;
    list-style-type: none;
  }
  
  button {
    background-color: #0367a6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  