<div class="container">
  <Header class="header">
    <h1>PassLocker</h1>
    <button (click)="logout()">Cerrar sesión</button>
  </Header>

  <main class="main">
    <div class="divbuttons">
      <h2>Hola {{userFullName}}</h2>
      <aside class="actions">
        <button (click)="addPassword()">Nueva</button>
      </aside>
    </div>
    <section>
      <h3>Contraseñas</h3>

      <table>
        <thead>
          <tr>
            <th>Servicio</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let password of passwords; let i = index" >
            <td>{{ password.userService }}</td>
            <td>{{ password.userName }}</td>
            <td>
              <input class="input-password" [type]="password.isPasswordVisible ? 'text' : 'password'" [value]="password.password" readonly>
              <button type="button" (click)="togglePasswordVisibility(i)">
                {{ password.isPasswordVisible ? '🙈' : '👁️' }}
              </button>
            <td>
            

              <button class="button-acciones" (click)="copyPassword(password.password)">Copiar</button>
              <button class="button-acciones" (click)="modifyPassword(password.id)">Editar</button>
              <button  class="button-acciones" (click)="openDeleteConfirmationModal(password.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>

  <footer class="footer">
    <ul class="navTwo">
      <li><a href="#" target="_blank">Términos </a> |</li>
      <li><a href="#" target="_blank">Privacidad </a>|</li>
      <li><a href="#" target="_blank">Acerca de nosotros</a></li>
    </ul>

    <p>© 2024 PassLocker</p>
  </footer>
</div>
