<section class="form-register">
    <div class="register-welcome">
        <h2>Welcome!</h2>
        <p>Already have an account? <a class="vinculo-register" routerLink="/login">login</a></p>
    </div>
    <form action="">
        <label for="email">Email</label><br>
        <input class="controls" type="email"><br>

        <label for="Username">Username</label><br>
        <input class="controls" type="text"><br>

        <label for="password">Password</label><br>
        <input class="controls" type="password"><br>

        <label for="password">Confirm Password</label><br>
        <input class="controls" type="password"><br>

        <input class="buttons" type="submit" value = "Register">
    </form>  
</section>
