/* Estilos del formulario */
.form-register {
  text-align: center;
  color: black;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.register-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.titulo {
  color: #0097B9;
  font-size: 28px;
}

.part1 {
  color: #0097B9;
}

.part2 {
  color: black;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input.controls {
  flex: 1;
  padding-right: 40px; /* Añade espacio para el icono */
  text-align: center;
}

.password-container i {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.error {
  color: red;
  height: 2em; /* Altura para reservar espacio */
}


.error2 {
  color: red;
  height: 3em; /* Altura para reservar espacio */
}

.controls {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 40px;
  text-align: center;
}

.buttons {
  margin-bottom: 1em;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons:hover {
  background-color: #0056b3;
}

.vinculo-register {
  color: #007bff;
  text-decoration: none;
}

.vinculo-register:hover {
  text-decoration: underline;
}

.checkbox ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  padding: 0;
  justify-content: center;
}

.usertype {
  margin-bottom: 10px;
}
