<div class="container">
  <main class="card">
    <h2>Restablecer Contraseña</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" formControlName="password">
        <div class="error">
          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <small *ngIf="password.errors?.required">La contraseña es obligatoria.</small>
            <small *ngIf="password.errors?.minlength">La contraseña debe tener al menos 6 caracteres.</small>
          </div>
        </div>
        </div>
       

      <div class="form-group">
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <div class="error">
          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
            <small *ngIf="confirmPassword.errors?.required">Confirmar contraseña es obligatorio.</small>
            <small *ngIf="confirmPassword.errors?.passwordMismatch">Las contraseñas no coinciden.</small>
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="resetPasswordForm.invalid">Restablecer Contraseña</button>
    </form>
  </main>
</div>
