<div class="container">
  <main class="card">
    <h2>Reset Password</h2>
    <form (ngSubmit)="resetPassword()">
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required><br>

        <label for="ConfirmPassword">Confirm Password:</label>
        <input type="password" id="password" [(ngModel)]="confirmPassword" name="password" required>
      </div>
      <div *ngIf="passwordMismatch" style="color: red;">
        Passwords do not match. Please try again.
      </div>  
      <button type="submit">Reset Password</button>
    </form>
  </main>
  </div>
  