
.container{
    height: 100vh;
    display: grid;
    place-content: center;
 
    
}

.card{
    padding: 12rem;
    background-color: rgba(4, 178, 217, 0.9);
    max-width: 60rem;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
}
.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 30rem;
}

form h1{
    margin-bottom: 3.2rem;
}
form label {
    font-size: 2rem;
    line-height: 1.8rem;
    color:  #00453A;;
    margin-bottom: .8rem;
    display: block;
  }

  form input {
    width: 100%;
    border: 1px solid  rgba(73, 80, 87, 0.3);
    background:  #DCE2E9;
    padding: 1.6rem;
    border-radius: .4rem;
  }
  
  form input:focus {
    outline: 2px solid  #02799D;
  }
  
  form input::placeholder {
    color:  rgba(73, 80, 87, 0.5);
  }
  
  .input-wrapper + .input-wrapper {
    margin-top: 1.6rem;
  }
  
  form button {
    margin-top: 3.2rem;
    padding: 1.6rem;
    width: 100%;
  
    border-radius: .4rem;
    border: none;
font-size: 2rem;
    background-color: #02799D;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
  
    font-weight: bold;
  
    cursor: pointer;
  
    transition: background .3s;
  }
  
  form button:hover {
    background:  #64cbeb;
  }