<main>
  <div class="container">
    <div class="password-creator-card">
      <h2>Modificar Contraseña</h2>
      <form [formGroup]="modifyPasswordForm" (ngSubmit)="modifyPassword()">
        <div class="form-group">
          <label for="nombreDelServicio">Nombre del Servicio:</label>
          <input type="text" id="nombreDelServicio" formControlName="nombreDelServicio" required>
          <div class="error">
            <div *ngIf="modifyPasswordForm.get('nombreDelServicio')?.invalid && modifyPasswordForm.get('nombreDelServicio')?.touched">
              <small *ngIf="modifyPasswordForm.get('nombreDelServicio')?.errors?.['required']">El nombre del servicio es requerido.</small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="nombreDelUsuario">Nombre de Usuario:</label>
          <input type="text" id="nombreDelUsuario" formControlName="nombreDelUsuario" required>
          <div class="error">
            <div *ngIf="modifyPasswordForm.get('nombreDelUsuario')?.invalid && modifyPasswordForm.get('nombreDelUsuario')?.touched">
              <small *ngIf="modifyPasswordForm.get('nombreDelUsuario')?.errors?.['required']">El nombre de usuario es requerido.</small>
            </div>
          </div>
         
        </div>

        <div class="form-group">
          <label for="nueva">Nueva Contraseña:</label>
          <input type="password" id="nueva" formControlName="nueva" required>
          <div class="error">
            <div *ngIf="modifyPasswordForm.get('nueva')?.invalid && modifyPasswordForm.get('nueva')?.touched">
              <small *ngIf="modifyPasswordForm.get('nueva')?.errors?.['required']">La nueva contraseña es requerida.</small>
              <small *ngIf="modifyPasswordForm.get('nueva')?.errors?.['minlength']">La nueva contraseña debe tener al menos 8 caracteres.</small>
            </div>
          </div>
         
        </div>
        <button type="submit">Guardar Cambios</button>
        <button type="button" (click)="cancel()">Cancelar</button>
      </form>
    </div>
  </div>
</main>
