<div class="container">
    <h1>Modificar Contraseña</h1>
    <form (ngSubmit)="modifyPassword()">
      <div class="form-group">
        <label for="nombreDelServicio">Nombre del Servicio:</label>
        <input type="text" id="nombreDelServicio" name="nombreDelServicio" [(ngModel)]="nombreDelServicio" required>
      </div>
      <div class="form-group">
        <label for="nombreDelUsuario">Nombre de Usuario:</label>
        <input type="text" id="nombreDelUsuario" name="nombreDelUsuario" [(ngModel)]="nombreDelUsuario" required>
      </div>
      <div class="form-group">
        <label for="nueva">Nueva Contraseña:</label>
        <input type="password" id="nueva" name="nueva" [(ngModel)]="nueva" required>
      </div>
      <button type="submit">Guardar Cambios</button>
    </form>
  </div>
  