<div class="password-creator-container">
    <div class="password-creator-card">
      <h2>Crear Contraseña:</h2>
      <form>
        <div class="form-group">
          <label for="service">Servicio:</label>
          <input type="text" id="service" name="service" [(ngModel)]="service">
        </div>
        <div class="form-group">
          <label for="username">Usuario:</label>
          <input type="text" id="username" name="username" [(ngModel)]="username">
        </div>
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input type="text" id="password" name="password" [(ngModel)]="password">
        </div>
        <div class="form-group">
          <label for="length">Longitud:</label>
          <input type="range" id="length" min="4" max="20" [(ngModel)]="length" (input)="generatePassword()">
      
        </div>
        <button type="button" (click)="generatePassword()">Generar</button>
        <button type="button" (click)="copyPassword()">Copiar</button>
        <button type="submit" (click)="savePassword()">Guardar</button>
      </form>
    </div>
  </div>
  
