/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
    
    font-size: 62.5%;
}

body{

    font-family:  "Roboto", sans-serif;
    background:  #c2ebf5;
}

a {
    text-decoration: none;
  }
  
  button,
  a {
    cursor: pointer;
    transition: filter 0.2s;
  }
  
  button:hover,
  a:hover {
    filter: brightness(0.9);
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
